@import '~variables.scss';

.table {
  font-size: 14px;
  padding: 0;
  margin: 0;
  width: 100%;

  @include medium-up {
    padding: 20px 0px;
    text-transform: lowercase;
  }

  @include large-up {
    padding: 30px 0px;
  }
}

.head {
  .payments & {
    &::before {
      content: '';
      display: block;
      width: 26px;
    }
  }
}

.item {
  color: #6d6d6d;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  line-height: 1.15;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &.head {
    display: none;

    @include medium-up {
      display: flex;
      color: #151515;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  @include medium-up {
    padding: 14px 40px;
  }

  @include large-up {
    padding: 14px 50px;
  }

  svg {
    width: 26px;
    height: 26px;
    display: block;
    flex-shrink: 0;
  }

  &:not(:last-child) {
    position: relative;
    border-bottom: 1px solid #edeff1;

    @include medium-up {
      border: 0;

      &::after {
        content: '';
        display: block;
        width: calc(100% - 80px);
        height: 1px;
        background-color: #edeff1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}

a.item:hover {
  outline: 0;
  background-color: #edeff1;
  color: inherit;
}

.core {
  flex-shrink: 0;
  text-align: right;

  @include medium-up {
    order: 0;
    flex-shrink: 1;
    display: flex;
    flex-basis: 40%;
  }
}

.extra {
  flex-grow: 1;
  padding: 0 20px;

  @include medium-up {
    order: 1;
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
    padding: 0;
  }

  .refunds & {
    padding-left: 0;
  }
}

.description,
.amount {
  color: #151515;
  font-weight: 700;

  @include medium-up {
    color: inherit;
    font-weight: inherit;
  }
}

.amount,
.status,
.description {
  @include medium-up {
    padding: 0 10px;
  }
}

.amount {
  white-space: nowrap;

  @include medium-up {
    width: 40%;
    text-align: right;

    .refunds & {
      text-align: left;
    }
  }
}

.status {
  @include medium-up {
    width: 60%;
    text-align: left;
    padding-left: 30px;
  }

  @include large-up {
    padding-left: 50px;
  }
}

.timestamp {
  font-size: 12px;
  text-transform: lowercase;

  @include medium-up {
    font-size: inherit;
    text-transform: inherit;
    width: 150px;
    flex-shrink: 0;
  }
}

.placeholder {
  width: 26px;
}
