.customer {
  text-align: center;
}

.image {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  margin: 0 auto;
}

.image img {
  border-radius: 50%;
  display: block;
  width: 100%;
}

.name {
  margin-bottom: 5px;
}

.company {
  color: #aaa;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
